Repository cfpb/capital-framework, pull requests merged in 2019-07, with the labels that each got.

#942 Improve jump link docs
  docs/_includes/usage/cf-typography/usage.md
  docs/dist/css/main.css
  packages/cf-typography/src/atoms/links.less
  packages/cf-typography/src/molecules/list.less
  packages/cf-typography/usage.md
Labels: documentation

#938 Add `u-svg-inline-bg` mixin for inline SVG background
  docs/_includes/usage/cf-icons/usage.md
  docs/_includes/usage/cf-typography/usage.md
  docs/dist/css/main.css
  docs/dist/icons/approved.svg
  docs/dist/icons/down.svg
  docs/src/css/main.less
  packages/cf-forms/src/atoms/select.less
  packages/cf-forms/src/cf-forms.less
  packages/cf-forms/src/molecules/form-fields.less
  packages/cf-icons/package.json
  packages/cf-icons/src/cf-icons-svg-inline.js
  packages/cf-icons/src/cf-icons.less
  packages/cf-icons/usage.md
  packages/cf-tables/src/cf-tables.less
Labels: bug

#949 Change slug border color to gray-40
  docs/dist/css/main.css
  packages/cf-typography/src/cf-typography.less
Labels: bug

#952 Style headings within table header cells only as standard table headers
  docs/_includes/usage/cf-core/usage.md
  docs/_includes/usage/cf-tables/usage.md
  docs/dist/css/main.css
  packages/cf-core/src/cf-base.less
  packages/cf-core/usage.md
  packages/cf-tables/usage.md
Labels: component: cf-tables, enhancement

#951 cf-tables: Add basic table format with caption
  docs/_includes/usage/cf-core/usage.md
  docs/_includes/usage/cf-tables/usage.md
  docs/dist/css/main.css
  packages/cf-core/src/cf-base.less
  packages/cf-core/src/cf-vars.less
  packages/cf-core/usage.md
  packages/cf-tables/src/cf-tables.less
  packages/cf-tables/usage.md
Labels: breaking, component: cf-tables

#950 cf-forms: Remove unused form input variables | add missing one
  packages/cf-forms/src/cf-forms.less
  packages/cf-forms/src/molecules/form-fields.less
Labels: component: cf-forms, enhancement

#953 cf-forms: Fix accessibility issues in validation states of fields
  docs/_includes/usage/cf-forms/usage.md
  packages/cf-forms/usage.md
Labels: component: cf-forms, documentation

#954 cf-forms: Labels added for buttons
  docs/_includes/usage/cf-forms/usage.md
  packages/cf-forms/usage.md
Labels: component: cf-forms, documentation

#955 cf-forms: Add disabled/checked states to form inputs
  docs/_includes/usage/cf-forms/usage.md
  docs/dist/css/main.css
  packages/cf-forms/src/atoms/select.less
  packages/cf-forms/src/cf-forms.less
  packages/cf-forms/src/molecules/form-fields.less
  packages/cf-forms/usage.md
  packages/cf-icons/src/cf-icons-svg-inline.js
  packages/cf-icons/src/cf-icons.less
Labels: component: cf-forms, enhancement

#956 cf-icons: Change reference to filename
  packages/cf-icons/src/cf-icons-svg-inline.js
Labels: bug
